.App {
  text-align: center;
}
table td {
  width: 30px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid black;
  height: 30px;

}
p {
  margin: 50px;
  color:  red;
  width: 100px;
  height: 100px;
  text-align: center;


}